>>> .van-cell
  padding 10px 0
.list-content
  background white
  padding 0 15px
  border-radius 5px
  min-height 200px
  .msg-title
    height: 50px
    line-height: 50px
    font-size: 16px
  .amount-wrap
    height: 120px
    text-align: center
    border-bottom 1px dashed #cccccc
    .msg-desc
      padding-top: 30px
      font-size: 14px
      color #c9c9c9
    .msg-amount
      padding-top: 10px
      font-size: 30px
      font-weight 300
  .msg-content
    padding-top: 10px
    padding-bottom: 20px
    border-bottom 1px solid #cccccc
    .msg-field
      height: 30px
      line-height: 30px
      .msg-field-desc
        width 100px
        display block
        float: left
        color #cccccc
      .msg-field-value
        padding-left: 15px
